body {
    width: 100vw;
    height: 100vh;
  }
.container
{
    min-width: 90vw;
    min-height: 75vh;
    margin-top: 11vh;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(20, 5.5%);
}
.container .box
{
    border-radius: 2px;
    background: #fff;
    display: grid;
    box-sizing: border-box;
    border: 1px solid #0d6efd;
}
.container .box:hover 
{
    border-radius: 2px;
    background: #0d6efd;
    color: #fff;
}
.wall
{
    border-radius: 2px;
    display: grid;
    box-sizing: border-box;
    border: 1px solid #0d6efd;
    background: rgb(66, 11, 96);
    color: #fff;
}
.selected /*for the node selected by the BFS path*/
{
    border-radius: 2px;
    display: grid;
    box-sizing: border-box;
    border: 1px solid #0d6efd;
    background: #9cf5b6;
    color: #fff;
}
.selected:hover{
    border-radius: 2px;
    display: grid;
    box-sizing: border-box;
    border: 1px solid #0d6efd;
    background: #8de6a8;
    color: #fff;
}
.neighbors /*for the node neighbors traversed*/
{
    border-radius: 2px;
    display: grid;
    box-sizing: border-box;
    border: 1px solid #0d6efd;
    background: #49a7e0;
    color: #fff;
}
.neighbors:hover{
    border-radius: 2px;
    display: grid;
    box-sizing: border-box;
    border: 1px solid #0d6efd;
    background: #407aee;
    color: #fff;
}
.starting_end /*for the starting node and end node*/
{
    border-radius: 2px;
    display: grid;
    box-sizing: border-box;
    border: 1px solid #0d6efd;
    background: #ff0000;
    color: #fff; 
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	/*.navbar .nav-item:hover .nav-link{   }*/
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
/* ============ desktop view .end// ============ */


